Yanick Champoux <yanick@cpan.org> <yanick@babyl.dyndns.org>
Deluxaran <deluxaran@cpan.org> Alexandru Strajeriu <alexandru.strajeriu@evozon.com> 
Deluxaran <deluxaran@cpan.org> deluxaran <alhambra88@gmail.com>

